
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
.display-flex{
  display: flex;
}
.btn-primary

/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none ;
    font-weight: 500;

}
.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
  font-weight: 700;
font-size: 3rem;
}
.navbar,.banner{
max-width: 1440px;
  margin: 0 auto;
}
/* banner related conten */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-tille{
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 20px;
}
.btn-primary{
  background-color: #FF900E;
  color:white;
  padding: 20px 25px;
  font: size 1.25rem; 
  font-weight: 600;
  border-radius: 8px;
  border: 0;
}
.banner-image{
  width:1440px;
  height: 700px;
  border-radius: 8px;
}
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
gap: 24px;
border-radius: 8px;
}
.our-features{
 margin: 130px;
 max-width: 530px;
}
.section-title
{
  font-size: 2.8rem; 
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
}
.text-primary{
  color: #FF900E;
}

/* responsive media query */
@media screen and (max-width:576px) {
  .navbar,
  .nav-link,.banner-image,
  .teams 
  {
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
    margin-left: 20px;
  }
  .banner-image{
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width:576) and (max-width:992px){

  .navbar,
  .nav-link,.banner-image,
  .teams 
  {
    flex-direction: column;
  }
  .our-features{
    margin-left: 50px;
  }
  
}
